.button {
    background-color: transparent;
    font-family: "Playfair Display";
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    margin: 2rem auto;
    border: solid #A09C90 3px;
    max-width: fit-content;
    transition: ease-in-out 300ms;
}

.button:hover {
    background-color: #A09C90;
    border: solid 3px rgb(240, 240, 240);
    cursor: pointer;
}