.button {
    background-color: rgb(28, 53, 53);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    margin: inherit;
    max-width: fit-content;
}

.button:hover {
    background-color: transparent;
    outline: solid 2px rgb(28, 53, 53);
    cursor: pointer;
}