.card {

    max-width: 40rem;
    margin: 2rem auto;
    height: 20rem;
    background-color: bisque;
    border-radius: 1rem;
    display: flex;
}

@media screen and (max-width: 500px) {
    .card {
        max-width: 20rem;
        margin: 2rem auto;
        height: fit-content;
        background-color: bisque;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }
}