.header-container {
  margin: 1rem auto;
  max-width: 60vw;
}
.header {
  font-size: 6rem;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  background: radial-gradient(
    67.62% 76.64% at 48.2% 58.88%,
    #beb8a8 0%,
    rgba(190, 184, 168, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tagline {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;

  /* identical to box height */
  background: radial-gradient(
    66.99% 66.99% at 49.96% 62.62%,
    #98977a 0%,
    rgba(182, 178, 84, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 600px) {
  .tagline {
    font-size: 1.5rem;
  }

  .header {
    font-size: 3.5rem;
  }
}
